
.menubar{
  font-family: Helvetica, sans-serif;
  background-color:#9DC8E6;
  padding:4px;
  color:black;
  text-align:left;
}

.side-menu{
  font-family: Helvetica, sans-serif;
  background-color:#D0C0F0;
  padding:4px;
  color:black;
  float:left;
  margin:2px;
  border-radius: 5px
}
 .side-element{
  margin:2px;
  padding:4px;
  border-radius: 4px;
  width:140px;
}

.side-element:hover{
  background-color:#C0B0E0;
}

.bFixed{
  width:130px;
}

span{
  width:60px;
  float:left;
  padding-left:0px;
}

.fSpan{
  display:inline-block;
}

.menubar a{
  padding:4px;
  border-radius: 4px;
}

.menubar a:hover{
  background-color:#7DA8C6;
}

.captionImage{
  border-radius:10px;
  border:1px solid grey;
  padding:4px;
  max-width: 308px;
  min-height: 270px;
  color:black;
  text-align:center;
  display:inline-block;
  font-family: arial, sans-serif;
  font-size: 14px;
  background-color: #BBBBEE;
}

.day{
  margin:2px;
  border-radius:10px;
  border:1px solid grey;
  padding:4px;
  color:black;
  text-align:left;
  display:inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: #AAAADD;
}

.day p {
  font-size:14px;
}

.trip{
  border-radius:10px;
  display:inline-block;
  padding:4px;
  margin:4px;
  max-width:80%;
  border:1px solid grey;
  background-color:#9999CC;
}
.trip h1 {
  font-size:20px;
}

.dayContainer{
  padding:1px
  margin:1px;
}

.captionImage img {
    width: 300px;
    padding:4px;
    border-radius:10px;
}

.captionImage:hover{
  background-color:lightgrey;
}

.imageContainer{
  display:inline-block;
  padding:2px;
}

body{
	background-color: #DDDDFF;
}

.crop {
    margin:4px;
    width: 300px;
    height: 225px;
    overflow: hidden;
    border-radius:10px;
}

.crop img {
    padding:0px;
    width: 300px;
    border-radius:10px;
}
