
body{
	background-color: #DDDDFF;
}

.menubar{
  font-family: Helvetica, sans-serif;
  background-color:#9DC8E6;
  padding:4px;
  color:black;
  text-align:left;
}

.menubar a{
  padding:4px;
  border-radius: 4px;
}


.menubar a:hover{
  background-color:#7DA8C6;
}

/*Used for cropping images to the right size*/
